BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "oscout" SITE "61" ;
LOCATE COMP "cdiv[4]" SITE "1" ;
LOCATE COMP "cdiv[3]" SITE "2" ;
LOCATE COMP "cdiv[2]" SITE "3" ;
LOCATE COMP "cdiv[1]" SITE "4" ;
LOCATE COMP "cdiv[0]" SITE "5" ;
