BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "oscout" SITE "61" ;
LOCATE COMP "cdiv[4]" SITE "1" ;
LOCATE COMP "cdiv[3]" SITE "2" ;
LOCATE COMP "cdiv[2]" SITE "3" ;
LOCATE COMP "cdiv[1]" SITE "4" ;
LOCATE COMP "cdiv[0]" SITE "5" ;
LOCATE COMP "cdiv0[4]" SITE "19" ;
LOCATE COMP "cdiv0[3]" SITE "20" ;
LOCATE COMP "cdiv0[2]" SITE "21" ;
LOCATE COMP "cdiv0[1]" SITE "22" ;
LOCATE COMP "cdiv0[0]" SITE "132" ;
LOCATE COMP "clk0" SITE "99" ;
