BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Ami[3]" SITE "5" ;
LOCATE COMP "Ami[2]" SITE "6" ;
LOCATE COMP "Ami[1]" SITE "9" ;
LOCATE COMP "Ami[0]" SITE "10" ;
LOCATE COMP "Bmi[3]" SITE "19" ;
LOCATE COMP "Bmi[2]" SITE "20" ;
LOCATE COMP "Bmi[1]" SITE "21" ;
LOCATE COMP "Bmi[0]" SITE "22" ;
LOCATE COMP "Rmi[7]" SITE "91" ;
LOCATE COMP "Rmi[6]" SITE "92" ;
LOCATE COMP "Rmi[5]" SITE "93" ;
LOCATE COMP "Rmi[4]" SITE "94" ;
LOCATE COMP "Rmi[3]" SITE "96" ;
LOCATE COMP "Rmi[2]" SITE "95" ;
LOCATE COMP "Rmi[1]" SITE "98" ;
LOCATE COMP "Rmi[0]" SITE "97" ;
