BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Ai[7]" SITE "5" ;
LOCATE COMP "Ai[6]" SITE "6" ;
LOCATE COMP "Ai[5]" SITE "9" ;
LOCATE COMP "Ai[4]" SITE "10" ;
LOCATE COMP "Ai[3]" SITE "11" ;
LOCATE COMP "Ai[2]" SITE "12" ;
LOCATE COMP "Ai[1]" SITE "13" ;
LOCATE COMP "Ai[0]" SITE "14" ;
LOCATE COMP "Bi[7]" SITE "19" ;
LOCATE COMP "Bi[6]" SITE "20" ;
LOCATE COMP "Bi[5]" SITE "21" ;
LOCATE COMP "Bi[4]" SITE "22" ;
LOCATE COMP "Bi[3]" SITE "132" ;
LOCATE COMP "Bi[2]" SITE "133" ;
LOCATE COMP "Bi[1]" SITE "24" ;
LOCATE COMP "Bi[0]" SITE "23" ;
LOCATE COMP "Ri[15]" SITE "59" ;
LOCATE COMP "Ri[14]" SITE "57" ;
LOCATE COMP "Ri[13]" SITE "56" ;
LOCATE COMP "Ri[12]" SITE "54" ;
LOCATE COMP "Ri[11]" SITE "55" ;
LOCATE COMP "Ri[10]" SITE "52" ;
LOCATE COMP "Ri[9]" SITE "50" ;
LOCATE COMP "Ri[8]" SITE "48" ;
LOCATE COMP "Ri[7]" SITE "49" ;
LOCATE COMP "Ri[6]" SITE "47" ;
LOCATE COMP "Ri[5]" SITE "45" ;
LOCATE COMP "Ri[4]" SITE "43" ;
LOCATE COMP "Ri[3]" SITE "42" ;
LOCATE COMP "Ri[2]" SITE "44" ;
LOCATE COMP "Ri[1]" SITE "39" ;
LOCATE COMP "Ri[0]" SITE "41" ;
