BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Ai[3]" SITE "5" ;
LOCATE COMP "Ai[2]" SITE "6" ;
LOCATE COMP "Ai[1]" SITE "9" ;
LOCATE COMP "Ai[0]" SITE "10" ;
LOCATE COMP "Bi[3]" SITE "19" ;
LOCATE COMP "Bi[2]" SITE "20" ;
LOCATE COMP "Bi[1]" SITE "21" ;
LOCATE COMP "Bi[0]" SITE "132" ;
LOCATE COMP "SL" SITE "26" ;
LOCATE COMP "LED" SITE "91" ;
LOCATE COMP "So[3]" SITE "92" ;
LOCATE COMP "So[2]" SITE "93" ;
LOCATE COMP "So[1]" SITE "94" ;
LOCATE COMP "So[0]" SITE "96" ;
