BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Aa[7]" SITE "71" ;
LOCATE COMP "Aa[6]" SITE "69" ;
LOCATE COMP "Aa[5]" SITE "70" ;
LOCATE COMP "Aa[4]" SITE "68" ;
LOCATE COMP "Aa[3]" SITE "67" ;
LOCATE COMP "Aa[2]" SITE "61" ;
LOCATE COMP "Aa[1]" SITE "65" ;
LOCATE COMP "Aa[0]" SITE "62" ;
LOCATE COMP "Ba[7]" SITE "60" ;
LOCATE COMP "Ba[6]" SITE "58" ;
LOCATE COMP "Ba[5]" SITE "59" ;
LOCATE COMP "Ba[4]" SITE "57" ;
LOCATE COMP "Ba[3]" SITE "47" ;
LOCATE COMP "Ba[2]" SITE "48" ;
LOCATE COMP "Ba[1]" SITE "52" ;
LOCATE COMP "Ba[0]" SITE "54" ;
LOCATE COMP "Ya[7]" SITE "110" ;
LOCATE COMP "Ya[6]" SITE "109" ;
LOCATE COMP "Ya[5]" SITE "112" ;
LOCATE COMP "Ya[2]" SITE "111" ;
LOCATE COMP "Ya[4]" SITE "113" ;
LOCATE COMP "Ya[3]" SITE "114" ;
LOCATE COMP "Ya[1]" SITE "117" ;
LOCATE COMP "Ya[0]" SITE "115" ;
