BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Aa[7]" SITE "5" ;
LOCATE COMP "Aa[6]" SITE "6" ;
LOCATE COMP "Aa[5]" SITE "9" ;
LOCATE COMP "Aa[4]" SITE "10" ;
LOCATE COMP "Aa[3]" SITE "11" ;
LOCATE COMP "Aa[2]" SITE "12" ;
LOCATE COMP "Aa[1]" SITE "13" ;
LOCATE COMP "Aa[0]" SITE "14" ;
LOCATE COMP "Ba[7]" SITE "19" ;
LOCATE COMP "Ba[6]" SITE "20" ;
LOCATE COMP "Ba[5]" SITE "21" ;
LOCATE COMP "Ba[4]" SITE "22" ;
LOCATE COMP "Ba[3]" SITE "132" ;
LOCATE COMP "Ba[2]" SITE "133" ;
LOCATE COMP "Ba[1]" SITE "24" ;
LOCATE COMP "Ba[0]" SITE "23" ;
LOCATE COMP "Ya[7]" SITE "59" ;
LOCATE COMP "Ya[6]" SITE "57" ;
LOCATE COMP "Ya[5]" SITE "56" ;
LOCATE COMP "Ya[4]" SITE "54" ;
LOCATE COMP "Ya[3]" SITE "55" ;
LOCATE COMP "Ya[2]" SITE "52" ;
LOCATE COMP "Ya[1]" SITE "50" ;
LOCATE COMP "Ya[0]" SITE "48" ;
