BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Ai[7]" SITE "5" ;
LOCATE COMP "Ai[6]" SITE "6" ;
LOCATE COMP "Ai[5]" SITE "9" ;
LOCATE COMP "Ai[4]" SITE "10" ;
LOCATE COMP "Ai[3]" SITE "11" ;
LOCATE COMP "Ai[2]" SITE "12" ;
LOCATE COMP "Ai[1]" SITE "13" ;
LOCATE COMP "Ai[0]" SITE "14" ;
LOCATE COMP "Bi[7]" SITE "19" ;
LOCATE COMP "Bi[6]" SITE "20" ;
LOCATE COMP "Bi[5]" SITE "21" ;
LOCATE COMP "Bi[4]" SITE "22" ;
LOCATE COMP "Bi[3]" SITE "132" ;
LOCATE COMP "Bi[2]" SITE "133" ;
LOCATE COMP "Bi[1]" SITE "24" ;
LOCATE COMP "Bi[0]" SITE "23" ;
LOCATE COMP "SL" SITE "4" ;
LOCATE COMP "So[7]" SITE "49" ;
LOCATE COMP "So[6]" SITE "47" ;
LOCATE COMP "So[5]" SITE "45" ;
LOCATE COMP "So[4]" SITE "43" ;
LOCATE COMP "So[3]" SITE "42" ;
LOCATE COMP "So[2]" SITE "44" ;
LOCATE COMP "So[0]" SITE "41" ;
LOCATE COMP "So[1]" SITE "39" ;
LOCATE COMP "LED" SITE "48" ;
